
<div class="index">
<ul>
	<% @concerts.each do |concert| %>
			<li><strong>Artist: <%=concert.artist%></strong><br>
				<strong>City:</strong> <%=concert.city%><br>
				<strong>Description:</strong> <%=concert.description%><br>
				<%= link_to "More Info", concert_path(concert) %>
			</li>
		<% end %>
</ul>
</div>

