<header>
	<h1>Welcome to Concertia: The Music Concert Network</h1>
</header>



<div><%= link_to "All Concerts", concerts_path %></div>
<div><%= link_to "Add a new Concert", new_concert_path %></div>

<footer>
	<p>@AJoeRed Powered</p>
</footer>

